* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
    font-family: "Istok Web", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
    height: 100%;
    width: 100%;
    color: white;
    background: rgb(6, 137, 121);
    background: radial-gradient(
        circle,
        rgba(6, 137, 121, 1) 0%,
        rgba(12, 97, 87, 1) 100%
    );
}

/*Títulos*/
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
p {
    font-size: 16px;
}

/*LOGO*/
.EmpreStock,
.EmpreStock2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.logo,
.logo2 {
    display: flex;
    align-items: center;
    gap: 12px;
}
.logo img {
    height: 96px;
}
.logo h1 {
    font-size: 64px;
    color: white;
}
.logo2 img {
    height: 64px;
}
.logo2 h1 {
    font-size: 48px;
    color: white;
}
/* .EmpreStock2 {
    display: none;
} */

/*BOTONES*/
.buttons-container {
    display: flex;
    gap: 24px;
}
/* .buttons-container {
    display: none;
} */
.button {
    display: flex;
    justify-content: center;
    padding: 24px 48px;
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
}
.button h2 {
    color: #068979;
}
.button:active {
    background-color: #f0f0f0;
    transition: 0.1s;
}

/*LOGIN*/
#signUp,
#logIn {
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.input-form {
    padding: 24px 24px;
    border: none;
    border-radius: 12px;
    font-family: "Istok Web", sans-serif;
    font-size: 18px;
    color: #252525;
}
.input-form:focus {
    outline: none;
}
.input-form::placeholder {
    font-family: "Istok Web", sans-serif;
    font-size: 18px;
    color: #757575;
}
.input-form::-webkit-cancel-button {
    display: none;
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-button {
    display: flex;
    justify-content: center;
    padding: 24px 48px;
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}
.login-button h2 {
    color: #068979;
}
.login-button:active {
    background-color: #f0f0f0;
    transition: 0.1s;
}

.go-to-register {
    display: flex;
    gap: 12px;
    align-items: center;
}
.go-to-register a {
    font-weight: 700;
    color: white;
}
