* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
    font-family: "Istok Web", sans-serif;
    display: flex;
    color: white;
}

/*Títulos*/
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
p {
    font-size: 16px;
}

/*left-bar*/
header {
    height: 100vh;
    z-index: 1;
}
#EmpreStock {
    width: 384px;
    height: 80px;
    background-color: #068979;
    display: flex;
}
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0 48px;
}
.logo img {
    height: 40px;
}
.logo h1 {
    color: white;
}
#left-bar {
    width: 384px;
    height: calc(100% - 80px);
    background-color: #252525;
    box-shadow: 2px 0 8px #25252550;
}
#left-bar-container {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
#user {
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.user-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-tab-left-1 {
    display: flex;
    align-items: center;
    gap: 8px;
}
.user-tab-left-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}
.user-tab-right {
    padding: 12px 24px;
    cursor: pointer;
    color: #757575;
}
hr {
    margin-left: 48px;
    border: 0.5px solid #757575;
}
#nav-bar {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.nav-tab {
    padding: 12px 0 12px 48px;
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;
}
.nav-tab i {
    color: #757575;
}
.tab-active {
    border-left: 8px solid #068979;
    padding: 12px 0 12px 40px;
}
.tab-active i {
    color: #068979;
}
.tab-active h3 {
    color: #068979;
}
.icon-tab {
    width: 24px;
}

/*main*/
main {
    width: 100%;
    background-color: #f0f0f0;
    z-index: 0;
}
#section-title {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px #25252550;
    background-color: white;
}
#section-title h1 {
    color: #068979;
    margin: 0 48px;
}
/*search-bar*/
#section-content {
    margin: 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
#search-bar {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 2px 4px #25252550;
    display: flex;
    background-color: white;
    overflow: auto;
}
#search-input {
    width: 100%;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    font-family: "Istok Web", sans-serif;
    font-size: 18px;
    color: #252525;
}
#search-input:focus {
    outline: none;
}
input::placeholder {
    font-family: "Istok Web", sans-serif;
    font-size: 18px;
    color: #757575;
}
#search-input::-webkit-search-cancel-button {
    display: none;
}
#search-button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 24px;
}
#search-button i {
    color: #068979;
}
/*botones*/
#admin-content {
    display: flex;
    gap: 24px;
}
.admin-button {
    padding: 12px 24px;
    background-color: #068979;
    border-radius: 12px;
    box-shadow: 0 2px 4px #25252550;
    cursor: pointer;
}
.admin-button h3 {
    color: white;
}
.admin-button-2 {
    background-color: white;
}
.admin-button-2 h3 {
    color: #068979;
}
.admin-button-disabled {
    background-color: #d9d9d9;
    cursor: default;
    box-shadow: none;
}
.admin-button-disabled h3 {
    color: #757575;
}
.admin-button-1:active {
    background-color: #0c6157;
    transition: 0.1s;
}
.admin-button-2:active {
    background-color: #f0f0f0;
    transition: 0.1s;
}
